.leftDiv {
  background-color: gray;
  border-right: 2px solid #000;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.rightDiv-id {
  display: grid;
  padding: 1.5vw;
}
.rightDiv-input {
  display: grid;
  row-gap: 1vh;
  column-gap: 1vh;
  padding: 1.5vw;
  grid-template-columns: 1fr 1fr;
}
